<div class="content-container" id="pop-up">

  <div class="mobile-container">
    <h1>Yesca</h1>
    <h2>Highest Quality Cannabis Products Coming Summer 2018</h2>
    <!-- <div class="navbar">
      <%= image_tag("yesca-title.svg", alt: "yesca", class: "yesca-title")%>
    </div> -->
    <%= image_tag("animation.gif", alt: "green and blue gradient", class: "gradient")%>

    <p class="tag-line">

    </p>
    <p class="i">

    </p>

    <div class="pop-up active">
      <div class="text-wrap">
        <p>
          To enter this site you<br/>
          must be over 19 years of age
        </p>
        <%= link_to "Yes I'm 19+", welcome_path, :class => "age-button" %>
        <%= link_to "No I'm Underage", no_entry_path, :class => "age-button" %>
      </div>
    </div>
  </div>

  <div class="product-container">

  </div>

</div>
